*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --darker-navy: #150E37ff;
    --navy: #1F1A3Cff;
    --orange: #EA5131ff;
    --blush: #EDDACFff;
    --grey: #EDEDEDff;
    --white: #F8F8F8ff;
    --transparent-navy: #150E37BF;
}

body {
    background-color: var(--white);
    font-family: 'Work Sans', sans-serif;
    font-size:16px;
    line-height:1.2;
    font-weight:400;
    color:var(--navy);
}

h1,h2,h3 {
    margin-bottom:15px;
}

h1 {
    font-size:36px;
    line-height:40px;
    font-weight:600;
}

h2 {
    font-size:24px;
    line-height:30px;
    font-weight:400;
}

h3 {
    font-size:19px;
    font-weight:20px;
    font-weight:700;
}

p {
    margin-bottom:10px;
}

b {
    font-weight:700;
}

a {
    text-decoration:none;
}

.navy-text {
    color: var(--navy);
}

.orange-text {
    color: var(--orange);
}

.white-text {
    color: var(--white);
}

.navy-bg {
    background-color: var(--navy);
}

.dark-navy-bg {
    background-color: var(--darker-navy);
}

.orange-bg {
    background-color: var(--orange);
}

.white-bg {
    background-color: var(--white);
}

.grey-bg {
    background-color: var(--grey);
}

.border-top {
    border-top: 1px solid var(--orange);
}

.bordered-column {
    border-top:1px solid var(--orange);
    padding:20px 0 0;
}

.bordered-column img {
    width:100%;
    padding-bottom:10px;
}

.bordered-column-both {
    border-top:1px solid var(--orange);
    border-bottom:1px solid var(--orange);
    padding:20px 0;
}

.news-row {
    padding:10px 0;
    border-bottom: 1px solid var(--orange);
}

button {
    font-size:14px;
    line-height:1;
    text-transform:uppercase;
    background:none;
    border-width:2px;
    border-style:solid;
    letter-spacing:1px;
    transition:0.3s all;
    margin:20px 0;
    padding:15px 30px;
    cursor:pointer;
}

button:hover {
    padding:15px 30px;
    letter-spacing:2px;
}

.btn-orange-to-white, .btn-orange-to-navy {
    border-color:var(--orange);
}

.btn-orange-to-white:hover {
    border-color:var(--white);
    color: var(--white);
}

.btn-orange-to-navy:hover {
    border-color:var(--navy);
    color:var(--navy);
}

.underlined-btn {
    width:100%;
    padding:0 0 15px 0;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom:1px solid var(--orange);
    text-align:left;
}

.underlined-btn:hover {
    padding:0 0 15px 0;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom:1px solid var(--navy);
    color:var(--navy);
    letter-spacing:2px;
}

.no-scroll {
    overflow:hidden;
}

header {
    width:100%;
    background-color: var(--white);
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
    position:fixed;

}

.max-width {
    max-width:1280px;
    margin:auto;
}

.smaller-max-width {
    max-width:980px;
    margin:auto;
}

.slight-padding, .slight-padding-heading {
    padding:10px;
}

.thicker-padding {
    padding:20px;
}

.header-logo {
    width:120px;
}

nav {
    display: flex;
    flex-direction: row;

    /* between links/hamburger menu & search icon */
    gap:30px;
}

.desktop-nav {
    display:block;
}

nav ul {
    /* between links */
    gap:30px;
    padding:10px 0;
}

nav li {
    padding:5px 0;
}

.nav-active, nav li:hover {
    padding:5px 0 3px;
    border-bottom:2px solid var(--navy);
}

nav a {
    font-size:13px;
    line-height:1;
    color: var(--navy);
}

.search {
    position:relative;
    padding:15px 50px 0 0;
    z-index:2;
}

.fa-magnifying-glass {
    color: var(--navy);
    cursor: pointer;
    transition:0.5s all;
}

.fa-magnifying-glass:hover {
    color: var(--orange);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    padding-top:20px;
}

.dropdown-content ul {
    width:100%;
    display:block;
    padding:5px;
    background-color: var(--transparent-navy);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius:15px;
    overflow:hidden;
}

.dropdown-content a {
    width:100%;
    display:block;
    padding:5px 10px;
    color: var(--white);
    transition:0.3s all;
}

/* Change color of dropdown links on hover */
.dropdown-content li:hover {
    padding:5px 0;
    border:none;
    font-weight:600;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

.dropdown-content-mob {
    display: none;
    padding:15px 0;
}

.menu-container {
    position:relative;
    display:none;
}

.menu-toggle {
    position: absolute;
    top: 49%;
    right:0;
    transform: translate(0, -50%);
    height: 26px;
    width: 29px;
    cursor:pointer;
    z-index:2;
    margin-right:30px;
  
    &, &:hover {
        color: var(--navy);
    }
}

.menu-toggle-bar {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top:-2px;
    width: 100%;
    height: 1px;
    border-radius: 1px;
    background-color: var(--navy);
    transition: all 0.3s ease;
}

.menu-toggle-bar--top {
    transform: translate(0, -8px);
}

.menu-toggle-bar--bottom {
    transform: translate(0, 8px);
}

.nav-open .menu-toggle-bar--top {
    transform: translate(0, 0) rotate(45deg);
}

.nav-open .menu-toggle-bar--bottom {
    transform: translate(0, 0) rotate(-45deg);
}

.mob-menu {
    width:100%;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    padding:100px 25px;
    background-color: var(--white);
    background-attachment:fixed;
    z-index:1;
    display:none;
    animation:slideOut 1s forwards;
    text-align:center;
}

.mob-menu-hide {
    display:block;
}

.mob-menu li {
    padding:15px 0;
}

.mob-menu a {
    padding:10px 10px 10px 0;
    font-size:24px;
    line-height:1;
    color: var(--darker-navy);
    transition:0.3s all;
}

.mob-menu a:hover {
    color: var(--orange);
}

.dropdown-content-mob li {
    height:unset;
    padding:5px 0;
}

.dropdown-content-mob a {
    font-size:14px;
}

main {
    padding-top:80px;
}

.full-width {
    width:100%;
}

.half-width {
    width:50%;
}

.fifth-width {
    width:20%;
}

.four-fifths-width {
    width:80%;
}

.third-width {
    width:33%;
}

.two-thirds-width {
    width:63%;
}

.footer-row {
    padding:10px;
}

.footer-logo {
    width:180px;
    height:69.3px;
}

.footer-contact {
    padding:20px 0 0;
}

.footer-navy {
    padding:50px 0;
}

.socials {
    gap:10px;
}

.socials a {
    transition:0.5s all;
}

.socials a:hover {
    color: var(--orange);
}

.fa-facebook-f, .fa-instagram {
    font-size:30px;
    padding:10px 0;
}

.partner-logos {
    text-align:right;
}

.partner-logos img {
    width:413px;
    height:60px;
}

.footer-bottom-content {
    width:100%;
    font-size:11px;
    line-height:1;
}

.footer-bottom-content p {
    margin:0;
}

.footer-small-links a {
    padding:10px 0 0;
}

.top-btn {
    font-size:14px;
    line-height:1;
}

.bg-img {
    background-color:var(--navy);
    background-size:cover;
    background-attachment:fixed;
    background-repeat: no-repeat;
}

#landing-bg {
    background-image:url(https://i.imgur.com/cBLs4br.png);
}

#landing-banner {
    width:100%;
    height:80vh;
}

#about-bg {
    background-image:url(https://i.imgur.com/rsauN3C.png);
}

#short-cuts-bg {
    background-image:url(https://i.imgur.com/rhci33J.png);
}

#events-bg {
    background-image:url(https://i.imgur.com/VlNGygE.png);
}

#news-bg {
    background-image:url(https://i.imgur.com/qxE1Gtd.png);
}

#resources-bg {
    background-color:var(--blush);
}

#membership-bg {
    background-image:url(https://i.imgur.com/3geaGro.png);
}

.display-flex {
    display:flex;
    flex-flow:row wrap;
}

.display-flex-row-only {
    display:flex;
    flex-direction:row;
}

.flex-space-between {
    justify-content: space-between;
}

.banner-content {
    padding:120px 10px;
}

.banner-extra-padding {
    padding:120px 10px 260px;
}

.main-content {
    padding:120px 0;
}

.main-content-below-shadow {
    padding:60px 0 0 0;
}

form {
    margin-bottom:15px;
}

select{
    padding:10px;
    font-weight:600;
    background-color:var(--white);
    border:2px solid var(--orange);
    color:var(--orange);
    border-radius:0;
    cursor:pointer;
    outline:none;
}

select option {
    background-color:var(--white);
    padding:10px;
}

input {
    border:none;
    background-color:var(--orange);
    color:var(--white);
    cursor: pointer;
    padding:12px 15px;
    font-weight:600;
    transition:0.5s all;
}

input:hover {
    background-color:var(--navy);
}

.shadow-box {
    margin-top:-160px;
    padding:60px;
    background-color:var(--white);
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
    border-radius:15px;
}

.shadow-box-no-padding {
    margin-top:-160px;
    background-color:var(--white);
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
    border-radius:15px;
    overflow:hidden;
}

.shadow-box-inside {
    padding:70px;
}

.normal-shadow-box {
    border-radius:15px;
    background-color:var(--white);
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
    overflow:hidden;
}

.team-container {
    width: 100%;
    display:flex;
    overflow-x: auto;
    white-space: nowrap; /* Prevents boxes from wrapping to the next line */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
}

/* Hide the scrollbar for Webkit browsers (Chrome, Safari) */
.team-container::-webkit-scrollbar {
    width: 0.1em;
}

.team-container::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.team-member-box {
    min-width: 296px; 
    /* Adjust the width as needed */
    display: inline-block;
    border:1px solid var(--orange);
    margin-right: 30px; /* Adjust the margin as needed */
    white-space:normal;
}

.team-arrow {
    margin:-300px -30px 0 0;
    float:right;
    background-color:var(--white);
    width:30px;
    height:30px;
    padding:10px;
    border-radius:50%;
    font-size:10px;
    text-align:center;
}

.testimonials-container {
    display:flex;
    height:auto;
}

.testimonial-header {
    align-items:center;
}

.testimonial {
    border:1px solid var(--orange);
}

/* MOBILE SIZING */
@media only screen and (max-width:1200px) {
    h1,h2,h3 {
        margin-bottom:10px;
    }
    p {
        margin-bottom: 5px;
    }
    .desktop-nav {
        display: none;
    }
    .menu-container {
        display: block;
    }
    .footer-row {
        padding:10px 30px;
    }
    .footer-logo {
        margin-bottom:30px;
    }
    .footer-contact {
        padding:0;
    }
    .footer-navy {
        padding:40px 0;
    }
    .half-width {
        width:100%;
    }
    .third-width {
        width:100%;
    }
    .two-thirds-width {
        width:100%;
    }
    .fifth-width {
        width:30%;
    }
    .four-fifths-width {
        width:70%;
    }
    .partner-logos {
        text-align:left;
    }
    .partner-logos img {
        max-width:100%;
        height:auto;
    }
    .footer-bottom-content {
        flex-direction:column;
        gap:10px;
        text-align:center;
    }
    .display-flex {
        flex-direction:column;
    }
    .slight-padding {
        padding:30px;
    }
    .slight-padding-heading {
        padding:30px 30px 0 30px;
    }
    .banner-content {
        padding:120px 30px;
    }
    .banner-extra-padding {
        padding:120px 30px 240px;
    }
    .main-content {
        padding:30px 0;
    }
    .shadow-box {
        padding:30px;
    }
    .shadow-box-inside {
        padding:30px;
    }
    .shadow-box-img {
        height:250px;
        background-size:cover;
    }
    .team-container {
        width:100%;
        overflow-x:auto;
    }
}